@font-face {
  font-family: "iconfont"; /* Project id 5162264 */
  src: url('iconfont.woff2?t=1776414841606') format('woff2'),
       url('iconfont.woff?t=1776414841606') format('woff'),
       url('iconfont.ttf?t=1776414841606') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-xiaoxi:before {
  content: "\e87c";
}

.icon-geren:before {
  content: "\e654";
}

.icon-xiangmu:before {
  content: "\e620";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-eye-close:before {
  content: "\e8ff";
}

